/* ------------------- Navbar CSS ------------------- */
:root {
  --bs-btn-hover-bg: #00000045 !important;
}

body {
  margin: 0;
  top: 10px;
}

.bi,
.nav-link,
.bi-person-circle,
.show,
.dropdown-toggle {
  color: white !important;
}

.dropdownButton {
  color: rgb(252, 186, 3) !important;
}

.navbar {
  --bs-navbar-padding-y: 0 !important;
  --bs-navbar-color: rgb(255 255 255 / 100%) !important;
  --bs-navbar-hover-color: rgb(255 255 255 / 50%) !important;
  margin-bottom: 2vh;
  background: linear-gradient(
    to right,
    rgba(0, 57, 131, 1),
    rgba(0, 135, 112, 1)
  ) !important;
}

.navbar-nav {
  --bs-nav-link-padding-y: 0 !important;
}

.navSpace {
  margin-left: 7px;
}

.teckyLogo {
  margin: 7px 7px;
  /* margin-left: 1vw; */
  height: 50px;
  /* color: rgb(255 255 255 / 100%) !important; */
}

.allProductLink {
  color: #ffffff !important;
  text-decoration: none !important;
}

.btn {
  color: white !important;
  border: 2px solid #ffffff !important;
}

.btn-outline-success {
  --bs-btn-hover-bg: #50bb89 !important;
  --bs-btn-active-bg: #50bb89 !important;
}

.nav-item .dropdown {
  position: relative;
  margin-left: 20px !important;
}

.d-flex {
  margin-right: 10px;
}

.dropdown-menu {
  position: absolute;
  right: 0px;
  left: auto !important;
  --bs-dropdown-link-hover-color: #ffc107 !important;
  --bs-dropdown-link-hover-bg: #ffffff00 !important;
  --bs-dropdown-link-active-color: #ffc107 !important;
  --bs-dropdown-link-active-bg: #ffffff00 !important;
}

.nav-item {
  list-style-type: none;
}

.bi-box-arrow-in-right {
  font-size: 30px;
  margin-right: 10px;
}

.bi-person-circle {
  font-size: 30px;
  margin-right: 10px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.dropdown-container {
  display: flex;
  justify-content: flex-start;
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#userbutton {
  display: none;
}

#loginbutton {
  display: flex;
}

.user-dropdown {
  display: flex;
  align-items: center;
}

/* ------------------- Navbar CSS ------------------- */

.divContainer {
  padding-left: 4vw;
  padding-right: 4vw;
}

.bottomArea {
  background: linear-gradient(
    to right,
    rgba(0, 57, 131, 1),
    rgba(0, 135, 112, 1)
  );
  width: 100vw;
  height: 20vh;
  left: 0;
  bottom: 0;
}


.button-category {
  border: 2px solid #6759ff;
  border-radius: 5px;
  background-color: white;
  color: #6759ff;
  cursor: pointer;
  max-width: 25vmin;
  font-size: 1.5vw;
  margin-bottom: 2vh;
  margin-right: 1vw;
}

.secondButton-category {
  border: 2px solid #6759ff;
  border-radius: 5px;
  background-color: white;
  color: #6759ff;
  cursor: pointer;
  max-width: 25vmin;
  font-size: 1.5vw;
  
  margin-bottom: 2vh;
  margin-right: 1vw;
}


.active {
  background-color: #6759ff;
  color: #ffffff;
}
#products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5vw;
  padding: 3vh 0;
}
.card {
  background-color: #ffffff;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.imageArea {
  text-align: center;
  border: 1px solid;
  border-radius: 20px;
}
img {
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}
.productInfoArea {
  margin-top: 1vh;
  margin-bottom: 1vh;
  color: #110f29;
}
.productInfoArea .productName {
  font-weight: 500;
}
.hide {
  display: none;
}
@media screen and (max-width: 720px) {
  img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }
  .card {
    max-width: 10em;
    margin-top: 1em;
  }
  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}

@media only screen and (max-width: 992px) {
  .dropdown-menu {
    position: absolute;
    left: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .dropdown-menu {
    position: absolute;
    left: 0 !important;
  }
}